.main {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }  
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  color: white;
}

#signature {
  stroke-dasharray: 4082.7529296875;
  stroke-dashoffset: 4082.7529296875;
  animation: sign 8s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

.oldlink {
  border: 2px white;
  justify-content: center;
  text-align: center;
}