.card {
    border: 2px solid skyblue;
    height: 17em;
    display: flex;
    background-color: rgb(236, 236, 236);
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2%;
    overflow: hidden;
}

.leftside {
    align-items: center;
    height: 100%;
    width: 35%;
    justify-content: space-around;
    display: flex;
}

.imagefitter {
    width: 240px;
    position: relative;
    height: 240px;
    margin-left: 4%;
}

.imagefitter:after {
    content: "";
    display: block;
    position: relative;
    padding-top: 100%;
}

.circularborder {
    border-radius: 50%;
}

.rightside {
    margin-left: 5%;
    height: 100%;
    width: 66%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.rightside h1 {
    font-size: 250%;
    margin-top: 3%;
    margin-bottom: 0%;
}
.rightside h2 {
    margin-top: 1%;
    margin-bottom: 0%;
    margin-left: 1%;
    border-bottom: 2px solid skyblue;
}

.rightside h4 {
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 0%;
}