.header {
    border-bottom: 3px solid lightgray;
    top: 0;
    position: sticky;
    z-index: 10000;
    background: white;
    width: 100%;
}

.h1 {
    font-size: 200%;
}

.lcontainer {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.lcontainer2 {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.navcontainer {
    text-align: center;
    height: 6rem;
    align-items:center;
    display: flex;
    overflow: hidden;
    margin-right: 1em;
}

.links {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.tlink {
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin-left: 1em;
}

.item {
    margin-left: 1rem;
}

.linkw {
    padding: 1rem;
    margin: 1rem;
    font-size: 125%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.linkw:hover {
    border: 2px solid lightgray;
    border-radius: 50px;
}

.linkf {
    margin: 1rem;
    font-size: 125%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.linkf:hover {
    font-size: 150%;
    padding: 0;
    margin-top: 0%;
    margin-bottom: 0%;
}

.h2 {
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
}

.hambuga {
    object-fit: fill;
    height: 3em;
    margin: 0 auto;
}

.dropdown {
    margin-right: 8%;
}

.content {
    position: absolute;
    height: 0%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: height .3s ease;
    overflow: hidden;
    margin-left: -10em;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cshown {
    position: absolute;
    height: 200%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: height .3s ease;
    overflow: auto;
    margin-left: -10em;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.contentbar:hover {background-color: #ddd;}

.contentbar {
    font-size: 200%;
    width: 100%;
}

.link {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.fcontent {
    position: absolute;
    height: 0%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: height .3s ease;
    overflow: hidden;
    margin-left: 0 auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.fcshown {
    position: absolute;
    height: 200%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: height .3s ease;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}