html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #222222;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  color: white;
}
* {
  box-sizing: border-box;
}
